.search-func {
    padding: 12px 15px;
    width: 50%;
    margin: 1em auto 2em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}